body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: #8FBC8F;  /*can use al three forms(name, hexadecimal, rgb) format to write yur color*/
  }
  /* the hexadecimal nd rgb can represent many colors outside of the names css colors */

  /* Specifically, 256 * 256 * 256 = 16,777,216. That is the amount of colors we can now represent. Compare that to the roughly 140 named CSS colors! */
  
  .light {
    background-color: #A0522D; /*rgb format of writng color : rgb(int1, itn2, int3) */
  }
  
  .city {
    background-color: #8B4513;
  }
  
  .vienna {
    background-color: #A52A2A;
  }
  
  .italian {
    background-color: #000000;
  }
  
  /* Typography */
  h1 {
    color: midnightblue;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
    background-color: aqua;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  