body {
    font-family: 'Poppins';
    background-color: #FFF;
    font-size: 1.4vw;
}

.card {
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    margin-top: 2%;
    width: 45%;
    position: relative;
}

.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 25%;
}

#btn {
    background: #ddd6f3;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    background: linear-gradient(to right, #faaca8, #ddd6f3);
    border: none;
    font-weight: 600;
    color: #413839;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1vw;
}

#btn:hover {
    transition-duration: 0.2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#copyBtn {
    background: #FFF;
    border: none;
    text-decoration: underline;
    font-size: 1vw;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .card {
      width: 85%;
      margin-top: 8%;
    }

    body{
        font-size: 3vw;
    }

    #copyBtn
    {
        font-size: 2.5vw;
    }

    #btn
    {
        font-size: 2.8vw;
    }

    .content {
        padding-top: 10%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .card {
      width: 70%;
      margin-top: 5%;
    }

    body{
        font-size: 2.3vw;
    }

    #copyBtn
    {
        font-size: 2vw;
    }

    #btn
    {
        font-size: 2vw;
    }

    .content {
        padding-top: 20%;
    }
  }